# Ignorar arquivos .env em qualquer pasta
**/.env
**/.env.*

# Ignorar arquivos e pastas do frontend
/frontend/node_modules/
/frontend/build/

# Ignorar arquivos e pastas do backend
/backend/__pycache__/
/backend/*.py[cod]
/backend/venv/
/backend/env/
/backend/*.egg-info/
/backend/dist/
/backend/build/

# Ignorar arquivos comuns
*.log
*.sqlite3
*.db
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp
*~

# Outros
repo-isb/.git/

# Arquivos de log
test.log

# Arquivos de dados temporários
*.csv
*.zip
*.tar.gz
*.tar

# Arquivos compactados
*.zip
*.tar.gz
*.tar

# Arquivos do sistema
.DS_Store
Thumbs.db

# Outros
repo/repo* 